default: &default
  adapter: mysql2
  socket: /var/run/mysqld/mysqld.sock
  username: gas 
  password: gas 
  encoding: utf8

test:
  adapter: sqlite3
  pool: 5
  timeout: 5000
  database: db/test.sqlite3

development:
  <<: *default
  database: gas 

production:
  <<: *default
  database: gas 

