<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <a href="https://github.com/sramos/gas">Gas Code</a>
  </div>
  <strong>
    Copyleft © 2017
    <a href="https://github.com/sramos/" target="_blank"> SitioDistinto punto Net</a>
  </strong>
  Some rights reserved.
</footer>
